In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("House_Rent_Dataset.csv")
df.drop("Area Locality", axis='columns', inplace = True)
df.drop("Floor", axis='columns', inplace = True)
df

,Posted On,BHK,Rent,Size,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Super Area,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,Super Area,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,Super Area,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,Super Area,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,Carpet Area,Kolkata,Unfurnished,Bachelors,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,Carpet Area,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,Super Area,Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,Carpet Area,Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,Carpet Area,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,Carpet Area,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit the LabelEncoder to the categories in the DataFrame
label_encoder.fit(df['Category'])

# Transform the categories into numerical values
df['Category_Encoded'] = label_encoder.transform(df['Category'])

# Print the transformed DataFrame
print(df)

  Category  Category_Encoded
0        A                 0
1        B                 1
2        C                 2
3        A                 0
4        B                 1
5        C                 2

In [6]:
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

# Perform one-hot encoding using get_dummies()
encoded_df = pd.get_dummies(df['Category'])

# Concatenate the original DataFrame with the encoded DataFrame
df_encoded = pd.concat([df, encoded_df], axis=1)

# Print the encoded DataFrame
print(df_encoded)

  Category      A      B      C
0        A   True  False  False
1        B  False   True  False
2        C  False  False   True
3        A   True  False  False
4        B  False   True  False
5        C  False  False   True